.float-container {
    border: 3px solid #fff;
    padding: 20px;
}

.float-child1 {
    width: 60%;
    float: left;
    border: 2px solid black;
}  
.float-child2 {
    width: 40%;
    float: right;
    border: 2px solid black;
}  